<div class="container bg-white">
    <div class="row">
        <div class="col-md-12">
            <div class="row bg-white pt-2 mb-3 shadow">
                <div class="col">
                    <ul class="nav nav-pills mb-2 border-0">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="../sales">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="../sales/cash-drawer-shifts/">Cash Drawer Shifts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="../sales/online-orders/">Online Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="../sales/bulk-orders/">Sales Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="../sales/order-refunds/">Sales Return</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group">
                <select class="form-control active">
                    <option value="Toady" >Toady</option>
                    <option value="Yesterday" >Yesterday</option>
                    <option value="This Week" >This Week</option>
                    <option value="Last Week" >Last Week</option>
                    <option value="This Month" > This Month</option>
                    <option value="Last Month" >Last Month</option>
                    <option value="This Year" >This Year</option>
                    <option value="Last Year" >Last Year</option>
                    <option value="" > Custom Range</option>
                   
                </select>
            </div>
        </div>
     
        <div class="col-md-4">
            <div class="form-group">
                <select class="form-control">
                    <option></option>
                    <option>Cash</option>
                    <option>Credit</option>
                    <option>Split</option>
                    <option>Other</option>
                    <option>Cash On Delivery</option>
                    <option>Zomato</option>
                    <option>Cheque</option>
                    <option>Phonepe</option>
                    <option>Card</option>
                    <option>Online Payment</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" (click)="toggle()" class="btn btn-primary">{{ buttonName }}</button>
           </div>
        </div>
    </div>

    <form>
        <div *ngIf="show" class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control" placeholder="Filter by Receipt Code" name="receipt_code">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="status">
                        <option value=""></option>
                        <option value="all_status">All Status</option>
                        <option value="completed">Completed</option>
                        <option value="confirmed">Confirmed</option>
                        <option value="pending">Pending</option>
                        <option value="dispatched">Dispatched</option>
                        <option value="refunded">Refunded</option>
                        <option value="canceled">Cancelled</option>
                        <option value="partial_refund">Partial Refund</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="store_employee">
                        <option value="">All Employee</option>
                        <option value="completed">StoreERP</option>
                        <option value="confirmed">Delivery 1</option>
                        <option value="pending">gayathri</option>
                        <option value="dispatched">gdelivery</option>
                        <option value="refunded">Eco Shop</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="store_location">
                        <option value="">All Locations</option>
                        <option value="Store">Store 1</option>
                        <option value="Eco Shop 1">Eco Shop 1</option>
                        <option value="Eco Shop 2">Eco Shop 2</option>
                        <option value="Eco Shop 3">Eco Shop 3</option>
                    </select>
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="order_type">
                        <option value="">All Order Types</option>
                        <option value="other">Sale</option>
                        <option value="lease">Lease</option>
                        <option value="delivery">Delivery (Door)</option>
                        <option value="pickup">Pickup (self)</option>
                    </select>
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="merchant_customer_group_id">
                        <option value=" All Groups"> All Groups</option>
                    </select>
                </div>
            </div>
           
    
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="platform_id">
                       <option value="All Groups">Select Merchant Platform</option>
                    </select>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group ld-ext-right js_loading">
                    <input class="form-control" placeholder="Enter Reference Number" name="ref_code">
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="delivery_platform_id">
                        <option value="Select Delivery Platform">Select Delivery Platform</option>
                    </select>
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="all_runners">
                        <option value="All Runners">All Runners</option>
                    </select>
                </div>
            </div>
    
            
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control js_prevent-enter-action" placeholder="Filter by Order Id" name="filter_by_order_id">
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="licence_name">
                        <option value="Licence Name">Licence Name</option>
                    </select>
                </div>
            </div>
       
                  
            <div class="col-md-3">
                <div class="form-group ld-ext-right js_loading">
                    <input class="form-control" placeholder="Sale Request Number" name="bulk_order_id">
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="form-group ld-ext-right js_loading">
                    <input class="form-control" placeholder="PO Number" name="po_code">
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="form-group ld-ext-right js_loading">
                    <input class="form-control" placeholder="Filter by Shifts Id" name="filter_by_shift_id">
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="form-group ld-ext-right js_loading">
                    <input class="form-control" placeholder="Select Price Categories" name="price_categories">
                </div>
            </div>
    
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="discount_applied">
                        <option value="" selected="">Discount Filter</option>
                        <option value="1">Discounted Orders</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <div class="row mb-3">
        <div class="col-md-4 ml-auto">
            <div class="form-group">
                <div class="form-inline float-right btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-primary dropdown-toggle float-right  mr-2" data-bs-toggle="dropdown" aria-expanded="false">
                            Export
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" routerLink="#">PDF</a></li>
                          <li><a class="dropdown-item" routerLink="#">Export Item CSV</a></li>
                          <li><a class="dropdown-item" routerLink="#">Export Order CSV</a></li>
                        </ul>
                    </div>

                    <div class="btn-group">
                        <button class="btn btn-primary float-right  mr-2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="la la-question-circle la-lg">?</i>
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" routerLink="#"><i class="la la-book mr-1"></i>Tutorial</a></li>
                          <li><a class="dropdown-item" routerLink="#"><i class="la la-youtube-play mr-1"></i>Video Tutorial</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="js_transactions">
                <div class="row align-items-center mb-2">
                    <div class="col-md-8">
                        <p class="m-0"> Showing <b>1 </b> to <b>5 </b> of<b> 5 </b> entries</p>
                    </div>
                    <div class="col-md-4">
                        <a class="float-right text-decoration-none" routerLink="../sales">Clear Filters</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-hover bg-white">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Order Details</th>
                                        <th>Item Details</th>
                                        <th>Method</th>
                                        <th>Total</th>
                                        <th>Created Date</th>
                                        <th>Type</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="badge badge-success">COMPLETED</span></td>
                                        <td>
                                            <small> Order #: <a routerLink="/sale/transactions/5175932" class="text-decoration-none" title="5175932" target="_blank">5175932</a></small><br>
                                            <small>Customer Name: <a routerLink="/customer/85470" class="text-decoration-none">Sameer k </a></small><br></td>
                                        <td><small> Items : 1</small><br><small>Quantity : 3</small></td>
                                        <td>CASH</td><td><b class="d-block">₹300.00</b></td>
                                        <td>Mon, Aug 2, 2021 5:17 PM</td>
                                        <td>SALE</td>
                                        <td>
                                            <div class="btn-group">
                                                <span  data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="la la-ellipsis-h la-2x">...</i>
                                                </span>
                                                <ul class="dropdown-menu">
                                                  <li><a class="dropdown-item" routerLink="../sales">View</a></li>
                                                  <li><a class="dropdown-item" routerLink="../sales">Save as PDF</a></li>
                                                  <li><a class="dropdown-item" routerLink="../sales"(click)="alertDelate()">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                                                               </tr>
                                        <tr>
                                            <td><span class="badge badge-danger">REFUNDED</span></td>
                                            <td> <small> Order #: <a routerLink="/sale/transactions/5175923" title="5175923" class="text-decoration-none" target="_blank">5175923</a></small><br>
                                                <small>Customer Name: <a routerLink="/customer/85470" class="text-decoration-none">Sameer k </a></small><br></td>
                                            <td><small> Items : 3</small><br><small>Quantity : 16</small></td><td>CASH</td>
                                            <td><b class="d-block">₹1,221.00</b></td><td>Mon, Aug 2, 2021 5:15 PM</td>
                                            <td>SALE</td>
                                            <td>
                                                <div class="btn-group">
                                                    <span  data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="la la-ellipsis-h la-2x">...</i>
                                                    </span>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="../sales">View</a></li>
                                                        <li><a class="dropdown-item" routerLink="../sales">Save as PDF</a></li>
                                                      <li><a class="dropdown-item" routerLink="../sales"(click)="alertDelate()">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="badge badge-success">COMPLETED</span></td>
                                            <td>
                                                 <small> Order #: <a routerLink="/sale/transactions/5175876" class="text-decoration-none" title="5175876" target="_blank">5175876</a>
                                                </small><br><small>Customer Name: <a routerLink="/customer/76774" class="text-decoration-none">Jose Leo</a></small><br></td>
                                            <td><small> Items : 1</small><br><small>Quantity : 1</small></td>
                                            <td>CASH</td><td><b class="d-block">₹100.00</b></td>
                                            <td>Mon, Aug 2, 2021 5:10 PM</td>
                                            <td> SALE</td>
                                            <td>
                                                <div class="btn-group">
                                                <span  data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="la la-ellipsis-h la-2x">...</i>
                                                </span>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" routerLink="../sales">View</a></li>
                                                    <li><a class="dropdown-item" routerLink="../sales">Save as PDF</a></li>
                                                  <li><a class="dropdown-item" routerLink="../sales"(click)="alertDelate()">Delete</a></li>
                                                </ul>
                                            </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="badge badge-primary text-uppercase">cancelled</span></td>
                                            <td> 
                                                <small> Order #: <a routerLink="/sale/transactions/5175681" class="text-decoration-none" title="5175681" target="_blank">5175681</a></small><br>
                                                <small>Customer Name: <a routerLink="/customer/84571" class="text-decoration-none">Vignesh </a></small><br></td><td><small> Items : 1</small><br><small>Quantity : 1</small></td>
                                            <td>CASH ON DELIVERY</td><td><b class="d-block">₹30,058.00</b></td>
                                            <td>Mon, Aug 2, 2021 4:49 PM</td><td> <p>DELIVERY</p></td>
                                            <td>
                                                <div class="btn-group">
                                                    <span  data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="la la-ellipsis-h la-2x">...</i>
                                                    </span>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="../sales">View</a></li>
                                                        <li><a class="dropdown-item" routerLink="../sales">Save as PDF</a></li>
                                                      <li><a class="dropdown-item" routerLink="../sales"(click)="alertDelate()">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="badge badge-secondary">CONFIRMED</span>
                                            </td>
                                            <td> 
                                                <small> Order #: <a routerLink="/sale/transactions/5175603" class="text-decoration-none" title="5175603" target="_blank">5175603</a></small><br>
                                                <small>Customer Name: <a routerLink="/customer/84571" class="text-decoration-none">Vignesh </a></small><br>
                                            </td>
                                            <td><small> Items : 2</small><br><small>Quantity : 2</small></td>
                                            <td>CASH ON DELIVERY</td>
                                            <td><b class="d-block">₹95.00</b></td>
                                            <td>Mon, Aug 2, 2021 4:39 PM</td>
                                            <td>DELIVERY</td>
                                            <td>
                                                <div class="btn-group">
                                                    <span  data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="la la-ellipsis-h la-2x">...</i>
                                                    </span>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" routerLink="../sales">View</a></li>
                                                        <li><a class="dropdown-item" routerLink="../sales">Save as PDF</a></li>
                                                      <li><a class="dropdown-item" routerLink="../sales"(click)="alertDelate()">Delete</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>