<div class="container bg-white">
    <div class="row bg-white pt-2 mb-3 shadow">
        <div class="col">
            <ul class="nav nav-pills mb-2">
                <li class="nav-item"><a class="nav-link" routerLink="../edit-profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../locations">Locations</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../devices">Devices</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../licences">Licences</a></li>
                <li class="nav-item"><a class="nav-link active" routerLink="../change-password">Password</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../account-settings">Settings</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../merchant-payment-methods">Payment Methods</a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="../delete"> Delete</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../subscriptions"> Subscriptions</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../api-keys"> API Keys</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <!-- <form id="js_password-form" novalidate="novalidate"> -->
                    <input type="hidden" name="_csrf"
                        value="mSWwTRIO-N4dJXnUtYbU0nw4SdGp_Z7PTVsI">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex mb-2">
                                <h4 class="m-0">Password</h4><span class="align-self-center">
                                    
                                
                                    <div class="btn-group">
                                        <button class="fa fa-info-circle ml-1 text-primary btn btn-sm"
                                        data-bs-toggle="dropdown" title="" data-bs-content="includes Discount"
                                        type="button" data-trigger="hover">
                                    </button>
                                    <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item text-decoration-none" routerLink="../change-password">
                                                    <i class="la la-book mr-1"></i>Tutorial
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item text-decoration-none" routerLink="../change-password">
                                                    <i class="la la-youtube-play mr-1"></i>Video Tutorial
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                            <p class="text-muted">Update your account password.</p>
                        </div>
                        <div class="col-md-8">
                            <div class="form-row">
                                <div class="col-md-4">
                                    <div class="form-group"><label>Old Password</label>
                                        <input class="form-control"
                                            type="password" placeholder="Old Password" name="current_password"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group"><label>New Password</label><input class="form-control"
                                            type="password" placeholder="New Password" name="password"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group"><label>Confirm Password</label><input class="form-control"
                                            type="password" placeholder="Confirm Password" name="password_confirmation">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <hr>
                            <div class="clearfix">
                                <div class="float-right">
                                    <button class="btn btn-primary ld-ext-right" id="js_password" > Submit<div class="ld ld-ring ld-spin"></div></button>
                                    </div>
                            </div>
                        </div>
                    </div>
                <!-- </form> -->
            </div>
        </div>
    </div>

</div>