<div class="container bg-white">
    <div class="row bg-white pt-2 mb-3 shadow">
        <div class="col">
            <ul class="nav nav-pills mb-2">
                <li class="nav-item"><a class="nav-link" routerLink="../edit-profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../locations">Locations</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../devices">Devices</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../licences">Licences</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../change-password">Password</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../account-settings">Settings</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../merchant-payment-methods">Payment Methods</a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="../delete"> Delete</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../subscriptions"> Subscriptions</a></li>
                <li class="nav-item"><a class="nav-link active" routerLink="../api-keys"> API Keys</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover bg-white">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Token</th>
                            <th>Expiry</th>
                            <th>Created At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>StoreERP_M0000441</td>
                            <td>fdsafsafdsafdsafdsafdasfaF</td>
                            <td>Aug 2, 2022 5:16 PM</td>
                            <td>Aug 2, 2021 5:16 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>