<div class="container bg-white">
    <div class="row bg-white pt-2 mb-3 shadow">
        <div class="col">
            <ul class="nav nav-pills mb-2">
                <li class="nav-item"><a class="nav-link" routerLink="../edit-profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../locations">Locations</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../devices">Devices</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../licences">Licences</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../change-password">Password</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../account-settings">Settings</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../merchant-payment-methods">Payment Methods</a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="../delete"> Delete</a></li>
                <li class="nav-item"><a class="nav-link active" routerLink="../subscriptions"> Subscriptions</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../api-keys"> API Keys</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 m-auto">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="d-flex">
                            <h4 class="mb-0">StoreERP Online</h4><span class="align-self-center"><a
                                    class="btn-btn-primary mx-2 text-primary js_help-link-slug"
                                    routerLink="https://StoreERP.com/help/article/?slug=subscriptions"
                                    data-toggle="tooltip" data-placement="left" data-title="Help Center"
                                    data-original-title="" title=""><i
                                        class="la la-question-circle la-lg"></i></a></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-1">
                            <p>Start Date</p>
                            <p> Aug 12, 2021</p>
                        </div>
                        <div class="d-flex justify-content-between mb-1">
                            <p>End Date</p>
                            <p> Aug 13, 2079</p>
                        </div>
                    </div>
                    <div class="card-header border-0">
                        <h4>Features</h4>
                    </div>
                    <div class="card-body">
                        <p class="text-capitalize">sms</p>
                        <p class="text-capitalize">billing</p>
                        <p class="text-capitalize">loyalty</p>
                        <p class="text-capitalize">employee</p>
                        <p class="text-capitalize">location</p>
                        <p class="text-capitalize">referral</p>
                        <p class="text-capitalize">whatsapp</p>
                        <p class="text-capitalize">multiple mrp</p>
                        <p class="text-capitalize">online platform</p>
                        <p class="text-capitalize">advance discount</p>
                        <p class="text-capitalize">online store website</p>
                        <p class="text-capitalize">purchase order management</p>
                    </div>
                    <div class="card-header border-0">
                        <h4>Limitations</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="text-capitalize">device</p>
                            <p>52</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-capitalize">employee</p>
                            <p>34</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="text-capitalize">location</p>
                            <p>17</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>