<div class="container bg-white">
    <div class="row">
        <div class="my-3">
            <div class="card">
                <div class="card-header text-center font-weight-bold rounded w-100">StoreERP</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 py-2">
            <div class="h-100">
                <div class="card h-100" type="button" data-bs-toggle="modal" data-bs-target="#youtubeModalY_lgroSu2EU">
                    <img class="object-fit-cover" src="assets/images/dashboard.png" 
                        height="240" style="object-fit: cover">
                    <div class="card-header text-center justify-content-center modal-title h-100">Dashboard 1 Video</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-2">
            <div class="h-100">
                <div class="card h-100" type="button" data-bs-toggle="modal" data-bs-target="#youtubeModalY_lgroSu2EU">
                    <img class="object-fit-cover"  src="assets/images/dashboard2.png"
                        height="240" style="object-fit: cover">
                    <div class="card-header text-center justify-content-center modal-title h-100">Dashboard 2 Video</div>
                </div>
                
            </div>
        </div>
        <div class="col-md-4 py-2">
            <div class="h-100">
                <div class="card h-100" type="button" data-bs-toggle="modal" data-bs-target="#youtubeModalY_lgroSu2EU">
                    <img class="object-fit-cover"  src="assets/images/dashboard3.png"
                        height="240" style="object-fit: cover">
                    <div class="card-header text-center justify-content-center modal-title h-100">Dashboard 3 Video</div>
                </div>
            </div>

        </div>
    </div>

    <!-- model Youtube tutorial  start-->
    <div class="div modal fade show" id="youtubeModalY_lgroSu2EU" tabindex="-1" role="dialog"
        style="display: none; padding-right: 17px;" aria-modal="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dashboard Video</h5>
                    <button class="close" type="button" data-dismiss="modal"aria-lable="Close">
                        <span aria-hidden="true" data-bs-dismiss="modal">×</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <iframe width="100%" src="https://www.youtube.com/embed/Y_" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen="" style="min-height: 500px;"></iframe></div>
            </div>
        </div>
    </div>
    <!-- model Youtube tutorial  end-->

</div>