.nav-link{
    text-decoration: none;
}
.la-ellipsis-h{
    font-size: 30px;
    color: #007bff;   
}
.card-custom-border {
    border: 20px solid;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}