<div class="container bg-white">
    <div class="row bg-white pt-2 mb-3 shadow">
        <div class="col">
            <ul class="nav nav-pills mb-2">
                <li class="nav-item"><a class="nav-link" routerLink="../edit-profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../locations">Locations</a></li>
                <li class="nav-item"><a class="nav-link active" routerLink="../devices">Devices</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../licences">Licences</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../change-password">Password</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../account-settings">Settings</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../merchant-payment-methods">Payment Methods</a>
                </li>
                <li class="nav-item"><a class="nav-link" routerLink="../delete"> Delete</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../subscriptions"> Subscriptions</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="../api-keys"> API Keys</a></li>
            </ul>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 ml-auto">
            <div class="form-group">
                <div class="form-inline float-right btn-group">

                    <button type="button" class="text-justify btn btn-outline-primary mr-2" data-bs-toggle="modal"
                        data-bs-target="#js_device-modal">
                        + Add Device
                    </button>


                    <div class="btn-group">
                        <button class="btn btn-outline-primary float-right  mr-2" data-bs-toggle="dropdown">
                            <i class="la la-question-circle la-lg">?</i>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item text-decoration-none" routerLink="../devices">
                                    <i class="la la-book mr-1"></i>Tutorial
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item text-decoration-none" routerLink="../devices">
                                    <i class="la la-youtube-play mr-1"></i>Video Tutorial
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- modal start -->
    <div class="modal fade" id="js_device-modal" data-backdrop="static" aria-hidden="true" style="display: none;">
        <div class="form-modal" id="js_device-create" data-form="#js_device-form" data-btn="#js_device-btn"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Device</h5>
                    <button class="close js_close-button" data-bs-dismiss="modal" type="button">×</button>
                </div>
                <div class="modal-body">
                    <!-- <form data-url="/account/devices/" id="js_device-form" novalidate="novalidate"> -->

                    <input type="hidden" name="_csrf" value="5bnAayhO-KjbsKTKQ4WKDHUgfe4c3_wJdDRI">
                    <div class="form-group"><label> Name<em class="text-danger"> *</em></label><input
                            class="form-control" type="text" name="name" placeholder="Name" value=""><input
                            type="hidden" name="is_active" value="0"></div>
                    <div class="form-group"><label> Location<em class="text-danger"> *</em></label>
                        <div class="select-group"><select
                                class="form-control js_location-select2 select2-hidden-accessible" type="text"
                                name="location_id" data-select2-id="1" tabindex="-1" aria-hidden="true"></select><span
                                class="select2 select2-container select2-container--default" dir="ltr"
                                data-select2-id="2" style="width: 100%;"><span class="selection"><span
                                        class="select2-selection select2-selection--single" role="combobox"
                                        aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false"
                                        aria-labelledby="select2-location_id-5v-container"><span
                                            class="select2-selection__rendered" id="select2-location_id-5v-container"
                                            role="textbox" aria-readonly="true"><span
                                                class="select2-selection__placeholder">Select
                                                Location</span></span><span class="select2-selection__arrow"
                                            role="presentation"><b role="presentation"></b></span></span></span><span
                                    class="dropdown-wrapper" aria-hidden="true"></span></span></div>
                    </div>
                    <div class="form-group"><label> Device<em class="text-danger"> *</em></label>
                        <div class="select-group"><select
                                class="form-control js_device-select2 select2-hidden-accessible" name="device_type_id"
                                data-select2-id="7" tabindex="-1" aria-hidden="true"></select><span
                                class="select2 select2-container select2-container--default" dir="ltr"
                                data-select2-id="8" style="width: 100%;"><span class="selection"><span
                                        class="select2-selection select2-selection--single" role="combobox"
                                        aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false"
                                        aria-labelledby="select2-device_type_id-qa-container"><span
                                            class="select2-selection__rendered" id="select2-device_type_id-qa-container"
                                            role="textbox" aria-readonly="true"><span
                                                class="select2-selection__placeholder">Select
                                                Devices</span></span><span class="select2-selection__arrow"
                                            role="presentation"><b role="presentation"></b></span></span></span><span
                                    class="dropdown-wrapper" aria-hidden="true"></span></span></div>
                    </div>
                    <!-- </form> -->
                </div>
                <div class="modal-footer"><button class="btn btn-secondary js_close-button"
                        data-bs-dismiss="modal">Close</button><button class="btn btn-primary ld-ext-right"
                        id="js_device-btn" data-bs-dismiss="modal">Save<div class="ld ld-ring ld-spin">
                        </div></button></div>
            </div>
        </div>
    </div>
    <!-- modal end -->

    <!-- table start -->
    <div class="row align-items-center mb-2">
        <div class="col-md-8">
            <p class="m-0"> Showing 1 entry</p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover bg-white">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Device Type</th>
                            <th>Location</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>mobile</td>
                            <td> 33CC588A</td>
                            <td class="text-uppercase">printer</td>
                            <td>Store 2</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-justify btn btn-sm btn-outline-primary mr-2"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        ...
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item text-decoration-none" routerLink="../devices"
                                                data-bs-toggle="modal" data-bs-target="#js_device-modal2902">Export
                                                Edit</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- table end -->

    <!-- edit modal start -->
    <div class="modal fade" id="js_device-modal2902" data-backdrop="static">
        <div class="form-modal" id="js_device-create2902" data-form="#js_device-form2902" data-btn="#js_device-btn2902">
        </div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Device</h5><button class="close js_close-button" type="button"
                        data-bs-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <!-- <form data-url="/account/devices/2902" id="js_device-form2902" novalidate="novalidate"> -->
                    <input type="hidden" name="_csrf" value="N2LU6iGt-f7YBEY2qyLK0thksrlvUFiu4BSQ">
                    <div class="form-group"><label> Name<em class="text-danger"> *</em></label><input
                            class="form-control" type="text" name="name" placeholder="Name" value="mobile"><input
                            type="hidden" name="is_active" value="1"></div>
                    <div class="form-group"><label> Location<em class="text-danger"> *</em></label>
                        <div class="select-group"><select
                                class="form-control js_location-select2 select2-hidden-accessible" type="text"
                                name="location_id" data-select2-id="3" tabindex="-1" aria-hidden="true">
                                <option value="555" selected="" data-select2-id="5">Store 2</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                data-select2-id="4" style="width: 100%;"><span class="selection"><span
                                        class="select2-selection select2-selection--single" role="combobox"
                                        aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false"
                                        aria-labelledby="select2-location_id-xi-container"><span
                                            class="select2-selection__rendered" id="select2-location_id-xi-container"
                                            role="textbox" aria-readonly="true" title="Store 2"><span
                                                class="select2-selection__clear" title="Remove all items"
                                                data-select2-id="6">×</span>Store 2</span><span
                                            class="select2-selection__arrow" role="presentation"><b
                                                role="presentation"></b></span></span></span><span
                                    class="dropdown-wrapper" aria-hidden="true"></span></span></div>
                    </div>
                    <div class="form-group"><label> Device<em class="text-danger"> *</em></label>
                        <div class="select-group"><select
                                class="form-control js_device-select2 select2-hidden-accessible" name="device_type_id"
                                data-select2-id="9" tabindex="-1" aria-hidden="true">
                                <option value="3" selected="" data-select2-id="11">printer</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr"
                                data-select2-id="10" style="width: 100%;"><span class="selection"><span
                                        class="select2-selection select2-selection--single" role="combobox"
                                        aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false"
                                        aria-labelledby="select2-device_type_id-a2-container"><span
                                            class="select2-selection__rendered" id="select2-device_type_id-a2-container"
                                            role="textbox" aria-readonly="true" title="printer"><span
                                                class="select2-selection__clear" title="Remove all items"
                                                data-select2-id="12">×</span>printer</span><span
                                            class="select2-selection__arrow" role="presentation"><b
                                                role="presentation"></b></span></span></span><span
                                    class="dropdown-wrapper" aria-hidden="true"></span></span></div>
                    </div>
                    <!-- </form> -->
                </div>
                <div class="modal-footer"><button class="btn btn-secondary js_close-button"
                        data-bs-dismiss="modal">Close</button><button class="btn btn-primary ld-ext-right"
                        id="js_device-btn2902" data-bs-dismiss="modal">Save<div class="ld ld-ring ld-spin">
                        </div></button></div>
            </div>
        </div>
    </div>
    <!-- edit modal end -->
</div>